    nav{background-color:rgba(26, 24, 22, 0.85);}
    body{
        background-color: rgb(188, 158, 130);
    }
    .img-fluid{
        padding: 0;
        margin: 0;
        max-height: 40px;
        }
    .nav-link{ color: #fdd017;}
    .nav-link:hover{ color: red;}